header {
	background-image: url('../img/header.jpg');
	/* background-position: center; */
	background-position-x: center;
	background-position-y: center;
}

nav {
	background-color: #000000ac !important;
}

.header-content {
	height: 25rem;
	background-color: #000000ac;
}

/* #articles {
	background-color: blue;
}

#home-form {
	background-color: rgb(0, 255, 42);
}

#home-form,
#articles {
	height: 5rem;
} */
